
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.banner-page{
    background-image:url(../img/plane2.jpg);
    background-size: cover;
}
.banner-info{
    background-image:url(../img/banner.webp);
    background-size: cover;
    min-height: 650px;
    position: relative;
}


.footer{
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.2)
}
ul.list-group {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}
ul.list-group li {
	margin: 3px;
	/* line-height: 1.6em; */
}
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    color: palevioletred;
    font-weight: bold;
    margin: auto;
}

.mission-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50%;
    margin: auto;
    text-align: center;
}


.servives{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-service{
    width: 30%;
    height: 20rem;
    text-align: center;
}

.text{
    padding: 10px;
    text-align: center;
}

.about-content{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}

.about-content h1{
    color: palevioletred;
}
.about{
    padding: 2rem;

}

.about h1{
    color: palevioletred;

}