.container{
    background-image:url(../img/plane.jpeg);
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.footer{
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.2)
}
ul.list-group {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}
ul.list-group li {
	margin: 3px;
	/* line-height: 1.6em; */
}